<header>
  <div class="container">
    <a routerLink="/" class="logo">
      <img src="../../../assets/berry_logo_tr_150x56px.png" alt=""
    /></a>
    <nav>
      <ul>
        <li>
          <a>Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Silviu</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a>Logout</a>
          </div>
        </li>
        <li class="menu-container">
          <a>Extra</a>
          <div class="menu">
            <a routerLink="/home-with-debounce">H.w.DB</a>
            <a routerLink="/home-with-search-button">H.w.S.BTN</a>
            <a routerLink="/home-example">H.Example</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">Cart <span class="cart">3</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
